# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Dépendances et fichiers statiques compilés
node_modules/
static/admin/
staticfiles/

# Fichiers de configuration
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Fichiers de migration Django (optionnel)
# */migrations/*.py
# !*/migrations/__init__.py

# Fichiers de cache
.cache/
.pytest_cache/
.coverage
htmlcov/ 